* {
    /*border: 1px solid black;*/
}

body {
    background-color: #fff;
}

a {
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
    color: #444;
}

.nav {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding: 10px 10px;
}

.nav li img {
    position: relative;
    top: 5px;
}

.nav li button {
    padding: 5px 10px;
}

#logo {
    display: block;
    margin: 0 auto;
    padding: 25px;
    margin-top: 250px;
}

form {
    text-align: center;
}

input {
    width: 500px;
    height: 30px;
    margin-top: 10px;
}

form button {
    margin-top: 30px;
    padding: 8px 18px;
}

.footer {
  list-style-type: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #ececec;
  font-family: sans-serif;
  font-size: small;
  color: #555;
}

ul, li {
  display: inline-block;
  padding: 7px 15px;
  margin: 0;
}

.footer-right {
  float: right;
}