* {
    /*border: 1px solid black;*/
}

body {
    background-color: #fff;
}

.nav {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: small;
    color: #444;
}

.nav li {
    display: inline;
    padding: 10px 10px;
}

.nav li img {
    position: relative;
    top: 5px;
}

.nav li button {
    padding: 5px 10px;
    background-color: lightblue;
}

#logo {
    display: block;
    margin: 0 auto;
    padding: 25px;
    margin-top: 250px;
}

form {
    text-align: center;
}

input {
    width: 500px;
    height: 30px;
    margin-top: 10px;
}

form button {
    margin-top: 30px;
    padding: 8px 18px;
}